<!-- app/views/user/passwords/new.html.erb -->
<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Forgot your password?</h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Enter your email address and we'll send you instructions to reset your password.
      </p>
    </div>
    <%= form_with(model: resource, as: resource_name, url: password_path(resource_name), local: true, class: "mt-8 space-y-6") do |form| %>

      <%= devise_error_messages! %>

      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <%= form.label :email, class: "sr-only" %>
          <%= form.email_field :email, autofocus: true, placeholder: "Email", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" %>
        </div>
      </div>

      <div>
        <%= form.submit "Send me reset password instructions", class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      </div>
    <% end %>
  </div>
</div>
