<!-- app/views/user/registrations/edit.html.erb -->
<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Edit Your Account</h2>
    </div>
    <%= form_with model: resource, url: registration_path(resource_name), local: true, class: "mt-8 space-y-6" do |form| %>
      <%= devise_error_messages! %>

      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <%= form.label :email, class: "sr-only" %>
          <%= form.email_field :email, autofocus: true, placeholder: "Email", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" %>
        </div>

        <div>
          <%= form.label :password, class: "sr-only" %>
          <%= form.password_field :password, autocomplete: "new-password", placeholder: "Password (leave blank if you don't want to change it)", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" %>
        </div>

        <div>
          <%= form.label :password_confirmation, class: "sr-only" %>
          <%= form.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm new password", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" %>
        </div>

        <div>
          <%= form.label :current_password, class: "sr-only" %>
          <%= form.password_field :current_password, autocomplete: "current-password", placeholder: "Current password", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" %>
        </div>
      </div>

      <div>
        <%= form.submit "Update", class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      </div>
    <% end %>

    <div class="mt-6">
      <%= button_to "Cancel my account", registration_path(resource_name), method: :delete, data: { confirm: "Are you sure?" }, class: "w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500" %>
    </div>
  </div>
</div>
